
.gamePage{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
}

.board{
  background-image: url("./Images/chessBoardBlue.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  min-height: 32rem;
  max-height: 40rem;
  min-width: 32rem;
  max-width: 40rem;
}

.menu{
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 90%;
  background: hsl(0, 5%, 90%);
}

.piece{
  background-size: 90%;
  background-repeat: no-repeat;
  cursor: grab;
  width: 12.5%;
  height: 12.5%;
  left: 0.5%;
  overflow: hidden;
  position: absolute;
  top: 1%;
  touch-action: none;
  will-change: transform;
}

.wk{
  background-image: url("./Images/WhiteKing.png");
}
.bk{
  background-image: url("./Images/bk.png");
}
.wp{
  background-image: url("./Images/wp.png");
}
.bp{
  background-image: url("./Images/bp.png");
}
.wr{
  background-image: url("./Images/wr.png");
}
.br{
  background-image: url("./Images/br.png");
}
.wb{
  background-image: url("./Images/wb.png");
}
.bb{
  background-image: url("./Images/bb.png");
}
.wh{
  background-image: url("./Images/wh.png");
}
.bh{
  background-image: url("./Images/bh.png");
}
.wq{
  background-image: url("./Images/wq.png");
}
.bq{
  background-image: url("./Images/bq.png");
}

.square0{ 
  transform: translate(0%, 0%); 
 } 
 .square1{ 
  transform: translate(100%, 0%); 
 } 
 .square2{ 
  transform: translate(200%, 0%); 
 } 
 .square3{ 
  transform: translate(300%, 0%); 
 } 
 .square4{ 
  transform: translate(400%, 0%); 
 } 
 .square5{ 
  transform: translate(500%, 0%); 
 } 
 .square6{ 
  transform: translate(600%, 0%); 
 } 
 .square7{ 
  transform: translate(700%, 0%); 
 } 
 .square8{ 
  transform: translate(0%, 100%); 
 } 
 .square9{ 
  transform: translate(100%, 100%); 
 } 
 .square10{ 
  transform: translate(200%, 100%); 
 } 
 .square11{ 
  transform: translate(300%, 100%); 
 } 
 .square12{ 
  transform: translate(400%, 100%); 
 } 
 .square13{ 
  transform: translate(500%, 100%); 
 } 
 .square14{ 
  transform: translate(600%, 100%); 
 } 
 .square15{ 
  transform: translate(700%, 100%); 
 } 
 .square16{ 
  transform: translate(0%, 200%); 
 } 
 .square17{ 
  transform: translate(100%, 200%); 
 } 
 .square18{ 
  transform: translate(200%, 200%); 
 } 
 .square19{ 
  transform: translate(300%, 200%); 
 } 
 .square20{ 
  transform: translate(400%, 200%); 
 } 
 .square21{ 
  transform: translate(500%, 200%); 
 } 
 .square22{ 
  transform: translate(600%, 200%); 
 } 
 .square23{ 
  transform: translate(700%, 200%); 
 } 
 .square24{ 
  transform: translate(0%, 300%); 
 } 
 .square25{ 
  transform: translate(100%, 300%); 
 } 
 .square26{ 
  transform: translate(200%, 300%); 
 } 
 .square27{ 
  transform: translate(300%, 300%); 
 } 
 .square28{ 
  transform: translate(400%, 300%); 
 } 
 .square29{ 
  transform: translate(500%, 300%); 
 } 
 .square30{ 
  transform: translate(600%, 300%); 
 } 
 .square31{ 
  transform: translate(700%, 300%); 
 } 
 .square32{ 
  transform: translate(0%, 400%); 
 } 
 .square33{ 
  transform: translate(100%, 400%); 
 } 
 .square34{ 
  transform: translate(200%, 400%); 
 } 
 .square35{ 
  transform: translate(300%, 400%); 
 } 
 .square36{ 
  transform: translate(400%, 400%); 
 } 
 .square37{ 
  transform: translate(500%, 400%); 
 } 
 .square38{ 
  transform: translate(600%, 400%); 
 } 
 .square39{ 
  transform: translate(700%, 400%); 
 } 
 .square40{ 
  transform: translate(0%, 500%); 
 } 
 .square41{ 
  transform: translate(100%, 500%); 
 } 
 .square42{ 
  transform: translate(200%, 500%); 
 } 
 .square43{ 
  transform: translate(300%, 500%); 
 } 
 .square44{ 
  transform: translate(400%, 500%); 
 } 
 .square45{ 
  transform: translate(500%, 500%); 
 } 
 .square46{ 
  transform: translate(600%, 500%); 
 } 
 .square47{ 
  transform: translate(700%, 500%); 
 } 
 .square48{ 
  transform: translate(0%, 600%); 
 } 
 .square49{ 
  transform: translate(100%, 600%); 
 } 
 .square50{ 
  transform: translate(200%, 600%); 
 } 
 .square51{ 
  transform: translate(300%, 600%); 
 } 
 .square52{ 
  transform: translate(400%, 600%); 
 } 
 .square53{ 
  transform: translate(500%, 600%); 
 } 
 .square54{ 
  transform: translate(600%, 600%); 
 } 
 .square55{ 
  transform: translate(700%, 600%); 
 } 
 .square56{ 
  transform: translate(0%, 700%); 
 } 
 .square57{ 
  transform: translate(100%, 700%); 
 } 
 .square58{ 
  transform: translate(200%, 700%); 
 } 
 .square59{ 
  transform: translate(300%, 700%); 
 } 
 .square60{ 
  transform: translate(400%, 700%); 
 } 
 .square61{ 
  transform: translate(500%, 700%); 
 } 
 .square62{ 
  transform: translate(600%, 700%); 
 } 
 .square63{ 
  transform: translate(700%, 700%); 
 } 
 